.content-main {
  padding: 2% 7%;

  h1 {
    color: #383131;
    font-size: 25px;
    font-weight: 700;
  }

  .titulo {
    margin-bottom: 2px;
  }

  .cards-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: self-start;

    flex-wrap: wrap;
  }
}
